*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: beige;
}

.navbar{
    position: sticky;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    background-color: rgb(146, 98, 192);
    top: 0%;
    z-index: 1000;
}

.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 16px 32px;
    max-width: 1200px;
    margin: 0 auto;
}

.nav-logo{
    width: 50px;
    height: auto;
}

.nav-logo img{
    width: 150px;
    height: auto;
    border-radius: 5%;
}

.nav-menu{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    list-style: none;
}

.nav-link{
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    padding: 8px 16px;
    border-radius: 12px;
}

.nav-link:hover{
    background-color: #fff;
    color: black;
}

@media screen and (max-width: 900px){
    .nav-container{
        flex-direction: column;
        align-items: flex-start;
        padding: 16px;
    }

    .nav-logo img{
        width: 100%;
        height: auto;
        margin-bottom: 16px;
    }

    .nav-menu{
        flex-direction: column;
        width: 100%;
    }
    
    .nav-link{
        width: 100%;
    }
}



