.container {
    max-width: 2500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;

}

.trainers-grid {
   display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    padding: 16px;
}

.trainer-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.3s ease;
}

.trainer-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
    transition: all 0.3s ease;
}

.trainer-image {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 15px;
}

.trainer-info {
    display: flex;
    flex-direction: column; /
    align-items: flex-start; 
    gap: 10px; 
    flex: 1; 
    width: 100%; 
}

.trainer-name { 
    font-size: 16px;
    font-weight: bold;
    color: #333333;
    text-transform: capitalize;
    align-items: center;
    margin: 0;
    border-radius: 15px;
    background: linear-gradient(135deg, #6d3783, #a98cca 50%);
}

.trainer-region{
    padding: 8px 16px;
    border-radius: 20px;
    color: #333333;
    background-color: #f0f0f0;
    text-transform: capitalize;
    width: 100%; 
}

.trainer-badges{
    padding: 8px 16px;
    border-radius: 20px;
    color: #333333;
    background-color: #f0f0f0;
    text-transform: capitalize;
    width: 100%; 
}

.trainer-status{
    padding: 8px 16px;
    border-radius: 20px;
    color: #fff;
    text-transform: capitalize;
    width: 100%;
    text-align: center;
}

.status-active{
    background: linear-gradient(135deg, #b0b3b6, #3e97e0 0%);
}

.status-champion{
    background: linear-gradient(135deg, #b0b3b6, #c4c003 0%);
}

@media screen and (max-width: 900px){
    .pokemon-grid {
        width: 100%;
        gap: 8px;
    }

    .pokemon-card {
        flex: calc(50% - 16px);
        max-width: calc(50% - 16px);
    }  
}

@media screen and (max-width: 480px){
    .pokemon-grid {
        gap: 16px;
    }

    .pokemon-card {
        flex: 100%;
        max-width: 100%;
    }
}